@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-dot {
  animation: spin 6s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
